:root {

  /* Color Palette */
  --antique-brass: rgb(206, 149, 116);
  --manatee: rgb(131, 136, 167);
  --wheatfield: rgb(241, 227, 199);
  --bay-of-many: rgb(85, 89, 119);

  /* UI Colors */
  --color-text-primary: var(--antique-brass);
  --color-text-secondary: var(--manatee);
  --color-text-neutral: var(--bay-of-many);
  --color-background-primary: var(--antique-brass);
  --color-background-secondary: var(--manatee);
  --color-background-neutral: var(--wheatfield);

  /* Start Screen Colors */
  --start-text: rgb(136, 142, 177);
  --start-background: rgb(237, 222, 200);

  /* Greta Colors */
  --greta-highlight: rgb(146, 186, 228);
  --greta-headline: rgb(68, 85, 105);
  --greta-citation: rgb(104, 132, 161);
  --greta-background: rgb(212, 223, 235);

  /* Malala Colors */
  --malala-highlight: rgb(225, 188, 132);
  --malala-headline: rgb(68, 85, 105);
  --malala-citation: rgb(149, 124, 87);
  --malala-background: rgb(233, 220, 199);

}
