:root {

  /* Color Palette */
  --antique-brass: rgb(206, 149, 116);
  --manatee: rgb(131, 136, 167);
  --wheatfield: rgb(241, 227, 199);
  --bay-of-many: rgb(85, 89, 119);

  /* UI Colors */
  --color-text-primary: var(--antique-brass);
  --color-text-secondary: var(--manatee);
  --color-text-neutral: var(--bay-of-many);
  --color-background-primary: var(--antique-brass);
  --color-background-secondary: var(--manatee);
  --color-background-neutral: var(--wheatfield);
}
