@use 'breakpoints';

$grid-columns: 12;

@each $breakpoint-name, $breakpoint-value in breakpoints.$breakpoints {
  @media (min-width: $breakpoint-value) {
    @for $start from 1 through $grid-columns {
      @for $end from 1 through $grid-columns {
        .col-#{$start}-#{$end}-#{$breakpoint-name} {
          grid-column: #{$start} / span #{$end};
        }
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
