@use "breakpoints";

@mixin headline1 {
  font-family: var(--serif-font);
  font-size: var(--font-size-headline-1);
  color: var(--color-text-dark);
  @include breakpoints.media-min-breakpoint(s) {
    font-size: 100px;
  }
  @include breakpoints.media-min-breakpoint(l) {
    font-size: 200px;
  }
}

@mixin headline2 {
  font-family: var(--sans-serif-font);
  font-weight: 300; // light
  font-size: var(--font-size-headline-2);
  color: var(--color-text-dark);
  @include breakpoints.media-min-breakpoint(s) {
    font-size: 76px;
  }
  @include breakpoints.media-min-breakpoint(l) {
    font-size: 96px;
  }
}

@mixin body1 {
  font-family: var(--sans-serif-font);
  font-size: var(--font-size-body-1);
  color: var(--color-text-dark);
  @include breakpoints.media-min-breakpoint(s) {
    font-size: 40px;
  }
  @include breakpoints.media-min-breakpoint(l) {
    font-size: 50px;
  }
}

@mixin body2 {
  font-family: var(--sans-serif-font);
  font-size: var(--font-size-body-2);
  font-style: italic;
  color: var(--color-text-dark);
  @include breakpoints.media-min-breakpoint(s) {
    font-size: 20px;
  }
  @include breakpoints.media-min-breakpoint(l) {
    font-size: 30px;
  }
}
